// variables index - all actual variables should either go into project-variables
// or custom-bootstrap variables files.

@import "project-variables"; // project variables
@import "custom-bootstrap";  // overridden bootstrap variables
// @import "~bootstrap/scss/functions"; // required by bootstrap variables
// @import "~bootstrap/scss/variables";  // bootstrap variables
